body{
	text-align: center;
	border: 1 px azure;
	padding: 30 px;
	background-color: orange;	
	color: white;
	font-family: "Montserrat", sans-serif;
}


h1{
	text-align: center;
	color: white;
	font-family: "Arial", sans-serif;
}


#namebox{
	text-align: center;
	height:30px;
	width:500px;
}


#agebox{
	text-align: center;
	height:30px;
	width:500px;
}


#phnobox{
	text-align: center;
	height:30px;
	width:500px;
}


#emailbox{
	text-align: center;
	height:30px;
	width:500px;
}


#regnobox{
	text-align: center;
	height:30px;
	width:500px;
}


#passwordbox{
	text-align: center;
	height:30px;
	width:500px;
}

input {
	border:none;
	border-radius: 10px;
}


#submitbutton{
	font-family: "Lato", sans-serif;
	background-color:white;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}